package {{.Package}}.subsystems.{{.NameLower}};

import static edu.wpi.first.units.Units.*;
import edu.wpi.first.math.system.plant.DCMotor;
import edu.wpi.first.math.system.plant.LinearSystemId;
import edu.wpi.first.units.measure.Angle;
import edu.wpi.first.units.measure.Voltage;
import edu.wpi.first.wpilibj.simulation.FlywheelSim;

public class {{.Name}}IOSim implements {{.Name}}IO {
  private final FlywheelSim sim =
      new FlywheelSim(
          LinearSystemId.createFlywheelSystem(DCMotor.getKrakenX60(1), 0.01, {{.Name}}Constants.GEARING),
          DCMotor.getKrakenX60(1));
  private double positionRotations = 0.0;
  private double appliedVolts = 0.0;

  @Override
  public void updateInputs({{.Name}}IOInputs inputs) {
    sim.setInputVoltage(appliedVolts);
    sim.update(0.02);
    positionRotations += sim.getAngularVelocityRadPerSec() / (2.0 * Math.PI) * 0.02;
    inputs.motorConnected = true;
    inputs.position = Rotations.of(positionRotations);
    inputs.velocity = RotationsPerSecond.of(sim.getAngularVelocityRadPerSec() / (2.0 * Math.PI));
    inputs.appliedVoltage = Volts.of(appliedVolts);
    inputs.supplyCurrent = Amps.of(Math.abs(sim.getCurrentDrawAmps()));
  }

  @Override
  public void setAngle(Angle angle) {
    double error = angle.in(Rotations) - positionRotations;
    appliedVolts = Math.max(-12, Math.min(12, error * 20));
  }

  @Override
  public void setVoltage(Voltage volts) {
    appliedVolts = volts.in(Volts);
  }
}
