package {{.Package}}.subsystems.{{.NameLower}};

import com.ctre.phoenix6.CANBus;
import com.ctre.phoenix6.configs.MotionMagicConfigs;
import com.ctre.phoenix6.signals.InvertedValue;
{{- if gt .MotorCount 1}}
import com.ctre.phoenix6.signals.MotorAlignmentValue;
{{- end}}
import static edu.wpi.first.units.Units.*;
import edu.wpi.first.units.measure.Angle;
import frc.robot.util.LoggedNetworkPIDFeedforwardGains;

public class {{.Name}}Constants {
  public static final CANBus CAN_BUS = new CANBus("canivore");
  public static final int LEADER_ID = 0;   // TODO: set CAN IDs
{{- range .Followers}}
  public static final int FOLLOWER_{{.Index}}_ID = {{.DefaultID}};   // TODO: set CAN IDs
{{- end}}
{{- if gt .MotorCount 1}}
  public static final MotorAlignmentValue FOLLOWER_ALIGNMENT = MotorAlignmentValue.{{if .Aligned}}Aligned{{else}}OpposedToLeader{{end}};
{{- end}}
  public static final double GEARING = 1.0;
  public static final InvertedValue LEADER_DIRECTION = InvertedValue.CounterClockwise_Positive;

  public static final Angle MIN_POSITION = Rotations.of(0.0);
  public static final Angle MAX_POSITION = Rotations.of(10.0);
  public static final Angle POSITION_TOLERANCE = Rotations.of(0.1);

  public static final LoggedNetworkPIDFeedforwardGains GAINS =
      new LoggedNetworkPIDFeedforwardGains(
          3.0, 0.0, 0.0, 0.0, 0.0, 0.3, 0.5, "{{.Name}}");

  public static final MotionMagicConfigs MOTION_MAGIC_CONFIGS =
      new MotionMagicConfigs()
          .withMotionMagicCruiseVelocity(RotationsPerSecond.of(2.0))
          .withMotionMagicAcceleration(RotationsPerSecondPerSecond.of(5.0));
}
