package {{.Package}}.subsystems.{{.NameLower}};

import static edu.wpi.first.units.Units.*;
import static frc.robot.util.PhoenixUtil.tryUntilOk;

import com.ctre.phoenix6.StatusSignal;
import com.ctre.phoenix6.configs.TalonFXConfiguration;
import com.ctre.phoenix6.controls.VoltageOut;
import com.ctre.phoenix6.hardware.ParentDevice;
import com.ctre.phoenix6.hardware.TalonFX;
import edu.wpi.first.units.measure.Current;
import edu.wpi.first.units.measure.Voltage;
import edu.wpi.first.wpilibj.Alert;
import edu.wpi.first.wpilibj.Alert.AlertType;
import frc.robot.util.AlertUtils;
import frc.robot.util.BetterStatusSignalCollection;

public class {{.Name}}IOTalonFX implements {{.Name}}IO {
  private final Alert statusSignalAlert =
      new Alert("ISSUE", "Status Signal Error", AlertType.kError);
  private final Alert configAlert =
      new Alert("CRITICAL", "Failed to Configure {{.Name}} Motor", AlertType.kError);

  private final TalonFX motor =
      new TalonFX({{.Name}}Constants.MOTOR_ID, {{.Name}}Constants.CAN_BUS);

  private final StatusSignal<Voltage> appliedVoltage;
  private final StatusSignal<Current> supplyCurrent;
  private final BetterStatusSignalCollection statusSignalCollector;

  private final VoltageOut voltageRequest = new VoltageOut(0);

  public {{.Name}}IOTalonFX() {
    var config = new TalonFXConfiguration();
    config.CurrentLimits.StatorCurrentLimitEnable = true;
    config.CurrentLimits.StatorCurrentLimit = 40;
    config.CurrentLimits.SupplyCurrentLimitEnable = true;
    config.CurrentLimits.SupplyCurrentLimit = 20;
    AlertUtils.processCriticalAlert(
        configAlert, !tryUntilOk(5, () -> motor.getConfigurator().apply(config)));

    appliedVoltage = motor.getMotorVoltage();
    supplyCurrent = motor.getSupplyCurrent();
    appliedVoltage.setUpdateFrequency(50);
    supplyCurrent.setUpdateFrequency(20);
    statusSignalCollector = new BetterStatusSignalCollection(appliedVoltage, supplyCurrent);
    ParentDevice.optimizeBusUtilizationForAll(motor);
  }

  @Override
  public void updateInputs({{.Name}}IOInputs inputs) {
    statusSignalCollector.refreshAll();
    if (!statusSignalCollector.isAllGood()) {
      statusSignalAlert.set(true);
      statusSignalAlert.setText(
          "{{.Name}} TalonFX Status Signal Error: "
              + statusSignalCollector.getBadSignalsString());
    } else {
      statusSignalAlert.set(false);
    }
    inputs.motorConnected = appliedVoltage.getStatus().isOK();
    inputs.appliedVoltage = appliedVoltage.getValue();
    inputs.supplyCurrent = supplyCurrent.getValue();
  }

  @Override
  public void setVoltage(Voltage volts) {
    motor.setControl(voltageRequest.withOutput(volts));
  }
}
