package {{.Package}}.subsystems.{{.NameLower}};

import com.ctre.phoenix6.CANBus;
import com.ctre.phoenix6.configs.MotionMagicConfigs;
import com.ctre.phoenix6.signals.InvertedValue;
import static edu.wpi.first.units.Units.*;
import edu.wpi.first.units.measure.Angle;
import frc.robot.util.LoggedNetworkPIDFeedforwardGains;

public class {{.Name}}Constants {
  public static final CANBus CAN_BUS = new CANBus("canivore");
  public static final int LEADER_ID = 0;   // TODO: set CAN IDs
  public static final int FOLLOWER_ID = 1;
  public static final boolean FOLLOWER_OPPOSED = false;
  public static final double GEARING = 1.0;
  public static final InvertedValue LEADER_DIRECTION = InvertedValue.CounterClockwise_Positive;

  public static final Angle MIN_ANGLE = Degrees.of(0.0);
  public static final Angle MAX_ANGLE = Degrees.of(90.0);
  public static final Angle ANGLE_TOLERANCE = Degrees.of(1.5);

  public static final LoggedNetworkPIDFeedforwardGains GAINS =
      new LoggedNetworkPIDFeedforwardGains(
          3.0, 0.0, 0.0, 0.0, 0.0, 0.3, 0.5, "{{.Name}}");

  public static final MotionMagicConfigs MOTION_MAGIC_CONFIGS =
      new MotionMagicConfigs()
          .withMotionMagicCruiseVelocity(0.5)
          .withMotionMagicAcceleration(1.0);
}
