package {{.Package}}.subsystems.superstructure;

import edu.wpi.first.wpilibj2.command.Command;
import edu.wpi.first.wpilibj2.command.SubsystemBase;
import org.littletonrobotics.junction.Logger;

public class Superstructure extends SubsystemBase {

  public enum WantedState {
{{- range $i, $s := .WantedStates}}
    {{$s}}{{if lt (add1 $i) (len $.WantedStates)}},{{end}}
{{- end}}
  }

  public enum CurrentState {
{{- range $i, $s := .ActiveStates}}
    {{$s}}{{if lt (add1 $i) (len $.ActiveStates)}},{{end}}
{{- end}}
  }

  public WantedState wantedState = WantedState.{{index .WantedStates 0}};
  public CurrentState currentState = CurrentState.{{.DefaultActive}};

  public Superstructure() {}

  @Override
  public void periodic() {
    CurrentState nextState = handleStateTransitions();
    applyState(nextState);
    currentState = nextState;
    Logger.recordOutput("Superstructure/WantedState", wantedState.toString());
    Logger.recordOutput("Superstructure/CurrentState", currentState.toString());
  }

  private CurrentState handleStateTransitions() {
    switch (wantedState) {
{{- range .Transitions}}
      case {{.Wanted}}:
        return CurrentState.{{.Active}};
{{- end}}
      default:
        return CurrentState.{{.DefaultActive}};
    }
  }

  private void applyState(CurrentState state) {
    switch (state) {
{{- range .ActiveStates}}
      case {{.}}:
        // TODO: apply {{.}} state
        break;
{{- end}}
      default:
        break;
    }
  }
{{range .WantedStates}}
  public Command {{lowerCamel .}}() {
    return runOnce(() -> wantedState = WantedState.{{.}});
  }
{{end}}}
