package {{.Package}}.subsystems.{{.NameLower}};

import static edu.wpi.first.units.Units.*;
import edu.wpi.first.units.measure.Current;
import edu.wpi.first.units.measure.Distance;
import edu.wpi.first.units.measure.LinearVelocity;
import edu.wpi.first.units.measure.Voltage;
import org.littletonrobotics.junction.AutoLog;

public interface {{.Name}}IO {
  @AutoLog
  public static class {{.Name}}IOInputs {
    public boolean leaderConnected = false;
    public boolean followerConnected = false;
    public Distance position = Meters.of(0.0);
    public LinearVelocity velocity = MetersPerSecond.of(0.0);
    public Voltage appliedVoltage = Volts.of(0.0);
    public Current leaderSupplyCurrent = Amps.of(0.0);
    public Current followerSupplyCurrent = Amps.of(0.0);
  }

  public default void updateInputs({{.Name}}IOInputs inputs) {}

  public default void setPosition(Distance position) {}

  public default void setVoltage(Voltage volts) {}

  public default void setBrakeMode(boolean brake) {}
}
